<a href="https://colab.research.google.com/github/mwcoyne2/BDI-Final-Project/blob/main/BDI_Final_Project_Preliminary_Draft.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Why I chose this data Set:**
I choose to work with the college basketball data set becuase I am a huge colelge basketball fan. Especially this year with Illinois doing well I watched every singly Illini game. I am the president of the student sections this year and devoted my entire college experience to sports. I thought it would be fun to perform data analytics on the 20-21 season expecially since I followed the season so closely

**Question for Analysis:**
The quesiton I want to answer is if the big ten is better then the other conferences. I plan on doing this by comparing multiple stats across multiple conferences. If I have time I may also compare teams within the BIG 10

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio

In [2]:
df = pd.read_csv('https://github.com/mwcoyne2/BDI-Final-Project/raw/main/2021%20College%20Basketball.csv')
display(df)

                 TEAM  CONF   G   W  ADJOE  ...  3P_O  3P_D  ADJ_T  WAB  SEED
0            Michigan   B10  24  20  118.1  ...  38.7  33.5   66.9  7.2   1.0
1              Baylor   B12  24  22  123.2  ...  41.8  34.0   68.8  6.6   1.0
2            Illinois   B10  29  23  117.7  ...  37.6  32.7   70.7  8.9   1.0
3             Gonzaga   WCC  26  26  125.4  ...  36.5  32.5   74.6  8.5   1.0
4                Iowa   B10  29  21  123.5  ...  38.6  34.8   70.0  5.6   2.0
..                ...   ...  ..  ..    ...  ...   ...   ...    ...  ...   ...
342    Louisiana Tech  CUSA  27  21  102.7  ...  34.6  29.6   69.6 -1.7   NaN
343            Toledo   MAC  29  21  113.3  ...  37.7  29.5   69.1 -2.1   NaN
344               UAB  CUSA  27  22  102.5  ...  31.1  32.4   67.5 -2.7   NaN
345  Eastern Kentucky   OVC  27  22  101.5  ...  35.8  33.0   75.1 -3.8   NaN
346           Belmont   OVC  29  26  108.5  ...  34.7  34.0   71.1 -1.1   NaN

[347 rows x 22 columns]

In [3]:
#Shape of Data Set
df.shape

(347, 22)

In [4]:
#I renamed columns so they are more user friendly for non basktball fans
df.rename(columns =
    {'TEAM':'Team',
    'CONF':'Conference',
    'G':'Games',
    'W':'Wins',
    'ADJOE':'Adj Offensive Efficiency',
    'ADJDE':'Adj Defensive Efficiency',
    'BARTHAG':'Power Ranking',
    'EFG_O':'Effective Field Goal Percentage Shot',
    'EFG_D':'Effective Field Goal Percentage Allowed',
    'TOR':'Turnover Rate',
    'TORD':'Steal Rate',
    'ORB':'Offensive Rebounds',
    'DRB':'Defensive Rebounds',
    'FTR':'Freee Throw Rate',
    'FTRD':'Free Throw Rate Allowed',
    '2P_O':'Two Point Percentage',
    '2P_D':'Two Point Percentage Allowed',
    '3P_O':'Three Point Percentage',
    '3P_D':'Three Point Percentage Allowed',
    'ADJ_T':'Adjusted Tempo',
    'WAB':'Wins Above Bubble',
    'POSTSEASON':'Postseason',
    'SEED':'Seed'},
    inplace = True
    )
df

                 Team Conference  ...  Wins Above Bubble  Seed
0            Michigan        B10  ...                7.2   1.0
1              Baylor        B12  ...                6.6   1.0
2            Illinois        B10  ...                8.9   1.0
3             Gonzaga        WCC  ...                8.5   1.0
4                Iowa        B10  ...                5.6   2.0
..                ...        ...  ...                ...   ...
342    Louisiana Tech       CUSA  ...               -1.7   NaN
343            Toledo        MAC  ...               -2.1   NaN
344               UAB       CUSA  ...               -2.7   NaN
345  Eastern Kentucky        OVC  ...               -3.8   NaN
346           Belmont        OVC  ...               -1.1   NaN

[347 rows x 22 columns]

In [5]:
#Information on the data set
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347 entries, 0 to 346
Data columns (total 22 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Team                                     347 non-null    object
 1   Conference                               347 non-null    object
 2   Games                                    347 non-null    int64
 3   Wins                                     347 non-null    int64
 4   Adj Offensive Efficiency                 347 non-null    float64
 5   Adj Defensive Efficiency                 347 non-null    float64
 6   Power Ranking                            347 non-null    float64
 7   Effective Field Goal Percentage Shot     347 non-null    float64
 8   Effective Field Goal Percentage Allowed  347 non-null    float64
 9   Turnover Rate                            347 non-null    float64
 10  Steal Rate                               347 non-null    float64
 11  Offensive Rebounds                       347 non-null    float64
 12  Defensive Rebounds                       347 non-null    float64
 13  Freee Throw Rate                         347 non-null    float64
 14  Free Throw Rate Allowed                  347 non-null    float64
 15  Two Point Percentage                     347 non-null    float64
 16  Two Point Percentage Allowed             347 non-null    float64
 17  Three Point Percentage                   347 non-null    float64
 18  Three Point Percentage Allowed           347 non-null    float64
 19  Adjusted Tempo                           347 non-null    float64
 20  Wins Above Bubble                        347 non-null    float64
 21  Seed                                     68 non-null     float64
dtypes: float64(18), int64(2), object(2)
memory usage: 59.8+ KB

In [6]:
#Sample of Data
display(df.head())
display(df.tail())
display(df.sample())

       Team Conference  Games  ...  Adjusted Tempo  Wins Above Bubble  Seed
0  Michigan        B10     24  ...            66.9                7.2   1.0
1    Baylor        B12     24  ...            68.8                6.6   1.0
2  Illinois        B10     29  ...            70.7                8.9   1.0
3   Gonzaga        WCC     26  ...            74.6                8.5   1.0
4      Iowa        B10     29  ...            70.0                5.6   2.0

[5 rows x 22 columns]

                 Team Conference  ...  Wins Above Bubble  Seed
342    Louisiana Tech       CUSA  ...               -1.7   NaN
343            Toledo        MAC  ...               -2.1   NaN
344               UAB       CUSA  ...               -2.7   NaN
345  Eastern Kentucky        OVC  ...               -3.8   NaN
346           Belmont        OVC  ...               -1.1   NaN

[5 rows x 22 columns]

           Team Conference  Games  ...  Adjusted Tempo  Wins Above Bubble  Seed
243  Pepperdine        WCC     22  ...            71.2               -4.2   NaN

[1 rows x 22 columns]

In [7]:
#Average Seed of conferences
df_average_conference_seed = df.groupby('Conference', as_index=False).agg({'Seed':['count','mean','median','max','min']})
df_average_conference_seed.sort_values([('Seed','count'),('Seed','min')], ascending=[False,True], inplace=True)
df_average_conference_seed

   Conference  Seed
              count       mean median   max   min
5         B10     9   5.555556    4.0  11.0   1.0
6         B12     7   4.000000    3.0   8.0   1.0
1         ACC     7   7.571429    8.0  11.0   4.0
25        SEC     6   5.666667    6.0   9.0   2.0
21        P12     5   8.200000    7.0  12.0   5.0
7          BE     4   7.250000    6.0  12.0   5.0
30        WCC     2   3.500000    3.5   6.0   1.0
4        Amer     2   6.500000    6.5  11.0   2.0
18        MWC     2   8.500000    8.5  11.0   6.0
17        MVC     2   9.500000    9.5  11.0   8.0
0         A10     2   9.500000    9.5  10.0   9.0
9        BSth     1  12.000000   12.0  12.0  12.0
10         BW     1  12.000000   12.0  12.0  12.0
3        ASun     1  13.000000   13.0  13.0  13.0
12       CUSA     1  13.000000   13.0  13.0  13.0
15        MAC     1  13.000000   13.0  13.0  13.0
24         SC     1  13.000000   13.0  13.0  13.0
8        BSky     1  14.000000   14.0  14.0  14.0
20        OVC     1  14.000000   14.0  14.0  14.0
22        Pat     1  14.000000   14.0  14.0  14.0
27       Slnd     1  14.000000   14.0  14.0  14.0
13       Horz     1  15.000000   15.0  15.0  15.0
14       MAAC     1  15.000000   15.0  15.0  15.0
28        Sum     1  15.000000   15.0  15.0  15.0
29        WAC     1  15.000000   15.0  15.0  15.0
2          AE     1  16.000000   16.0  16.0  16.0
11        CAA     1  16.000000   16.0  16.0  16.0
16       MEAC     1  16.000000   16.0  16.0  16.0
19        NEC     1  16.000000   16.0  16.0  16.0
23         SB     1  16.000000   16.0  16.0  16.0
26       SWAC     1  16.000000   16.0  16.0  16.0

In [8]:
df_B10 = df[df['Conference'] == 'B10']
df_B10

             Team Conference  Games  ...  Adjusted Tempo  Wins Above Bubble  Seed
0        Michigan        B10     24  ...            66.9                7.2   1.0
2        Illinois        B10     29  ...            70.7                8.9   1.0
4            Iowa        B10     29  ...            70.0                5.6   2.0
5        Ohio St.        B10     30  ...            66.9                6.0   2.0
14         Purdue        B10     27  ...            66.6                3.8   4.0
34      Wisconsin        B10     29  ...            65.0                2.2   9.0
36        Rutgers        B10     26  ...            67.8                1.9  10.0
38       Maryland        B10     28  ...            65.4                0.2  10.0
40   Michigan St.        B10     27  ...            68.7                1.4  11.0
138      Nebraska        B10     26  ...            72.1               -6.9   NaN
171  Northwestern        B10     23  ...            68.6               -2.9   NaN
217      Penn St.        B10     25  ...            69.1               -0.5   NaN
247       Indiana        B10     27  ...            66.3               -1.2   NaN
289     Minnesota        B10     29  ...            70.5               -1.1   NaN

[14 rows x 22 columns]